* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }

.wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background-color: #eee;
}

.relative {
    position: relative;
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

.absolute {
    position: absolute;
    bottom: 0;
    right: -30px;
    text-align: center;
    width: 250px;
    padding: 20px;
    background-color: #999;
}